---
---

@import "{{ site.theme }}";

body {
    background-color: #fff;
    color: #000;
}

body.dark-theme {
    background-color: #161617;
    color: #fff;
}

body.dark-theme a {
    color: #2074a5;
}

body.dark-theme a:hover {
    color: #f66a0a;
}

body.dark-theme a:not(.page-link)::not(.site-title):visited {
    color: #2074a5;
}

body.dark-theme a.page-link {
    color: #fff;
}

body.dark-theme a.site-title {
    color: #fff;
}

body.dark-theme a:active {
    color: #f66a0a;
}

body.dark-theme a:focus {
    color: #f66a0a;
}

body.dark-theme hr {
    border-color: #fff;
}


body.dark-theme main {
    background-color: #161617;
}

body.dark-theme main h1, 
body.dark-theme main h2, 
body.dark-theme main h3, 
body.dark-theme main h4, 
body.dark-theme main h5, 
body.dark-theme main h6 {
    color: #fff;
}

body.transition {
    transition: background-color 0.5s ease;
}

#theme-switcher {
    position: fixed;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5em;
}

#theme-switcher .moon {
    display: none;
}

body.dark-theme #theme-switcher .sun {
    display: none;
}

body.dark-theme #theme-switcher .moon {
    display: inline;
}

@media screen and (max-width: 600px) {

    .site-nav {
        position: inherit;
        margin-right: 0px; // Add some margin to the right of the menu icon
        background-color: #fdfdfd; // This is the light theme background color
        color: #424242; // This is the light theme text color
    }

    #theme-switcher {
        justify-content: center;
        align-items: center;
    }

    body.dark-theme .site-nav {
        background-color: #161617; // This is the dark theme background color
        color: #fff; // This is the dark theme text color
    }
    
    div.wrapper {
        display: flex;
        justify-content: space-between;
    }

    div.wrapper .site-title {
        flex: 1;
    }

    div.wrapper .header-right {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        flex: 1;
    }
}


@media screen and (max-width: 1081px) {

    .site-nav {
        margin-right: 15px; // Add some margin to the right of the menu icon
        background-color: #fdfdfd; // This is the light theme background color
        color: #424242; // This is the light theme text color
    }

    #theme-switcher {
        margin-top: 8px;
        margin-left: 5px;
    }

    body.dark-theme .site-nav {
        background-color: #161617; // This is the dark theme background color
        color: #fff; // This is the dark theme text color
    }
    
}