<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <button id="theme-switcher">
      <span class="sun">☀️</span>
      <span class="moon">🌙</span>
    </button>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="/assets/js/theme-switcher.js"></script>

  </body>

</html>
